{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "arrowParens": "always",
    "tabWidth": 4,
    "endOfLine": "auto",
    "useTabs": false,
    "printWidth": 180,
    "semi": true,
    "singleQuote": false
}
